@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almendra:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Metamorphous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

body {
    background-color: #000;
    background-repeat: no-repeat;
    background-attachment: fixed;

    color: #dbdbdb;
    font-size: 1.2em;
    font-family: 'Libre Baskerville', serif;
    text-shadow: 0px 0px 1px #000;

}

a {
    color:#c78c71;
    text-shadow: 0px 0px 3px #c78c71;
}

a:hover {
    color:#b17387;
    text-shadow:0px 0px 3px #b17387;
}

a:visited {
    color:#dc8282;
    text-shadow:0px 0px 3px #dc8282;
}

a:visited:hover {
    color:#e08257;
    text-shadow:0px 0px 3px #e08257;
}

h1 {
    font-family:'Metamorphous', cursive;
    text-shadow: 0px 0px 3px #dbdbdb;
}

h2, h3, h4, h5, h6 {
    text-shadow: 0px 0px 3px #dbdbdb;
}

header {
    background-color:#202020;

    color: rgb(199, 199, 199);
    font-size: 20px;

    width: 100%;
    height: 20px;

    position: absolute;
    top:0px;
    left:0px;

    z-index: 6;
}

footer {
    background-color: #202020;

    color:red;
    text-shadow: 0px 0px 3px red;
    text-align:right;
    font-size: 16px;

    width: 100%;
    height: 20px;

    padding-top: 5px;
    filter: drop-shadow(0px 0px 4px #000);

    position:absolute;
    bottom:0px;
    left:0px;
    
    z-index: 6;

    overflow-x: hidden;
}

#titleButton {
    /* background-color: #2b2323; 
    
    border: outset #181212 10px;*/

    container-type: inline-size;

    padding-left:5px;
    
    color: #e08257;
    font-size:3em;
    font-family:'Rubik Glitch', cursive;
    text-shadow: 0px 0px 10px #a66074;
    text-decoration:none;
    font-size: 3cqw;

    position: absolute;
    top: 0px;
    left: 0px;
    float: left;

    z-index: 7;
}

#titleButton:hover {
    color: #a66074;
    text-shadow: 0px 0px 5px #3468e1, 2px 2px 10px #ff53c3;
}

#titleButton:visited {
    container-type: inline-size;

    padding-left:5px;
    
    color: #e08257;
    font-size:3em;
    font-family:'Rubik Glitch', cursive;
    text-shadow: 0px 0px 10px #a66074;
    text-decoration:none;
    font-size: 3cqw;

    position: absolute;
    top: 0px;
    left: 0px;
    float: left;

    z-index: 7;
}

#main {
    text-shadow: 0px 0px 1px #dbdbdb;

    width: 54%;
    height: 90%;

    padding-left: 15%;
    padding-right: 1%;

    position: absolute;
    top:5%;
    bottom: 0px;
    left: 0%;

    overflow-y: auto;
    z-index: 0;
}

#blogEntries {
    background-color:#202020;

    width: 30%;
    height: 98%;

    position:absolute;
    top:20px;
    bottom:0px;
    right: 0px;
    z-index: 1;
}

#sidebar {
    background-image: linear-gradient(0.25turn, #000 5%, #63404b 35%, #865f4d 50%, #63404b 65%, #000 100%);

    font-size: 0.85em;
    text-align: justify;
    text-justify: inter-word;

    width: 13%;
    height: 99%;

    filter: drop-shadow(0px 0px 4px #000);

    position: absolute;
    left:0px;
    bottom:0px;

    z-index: 4;

}

#desc {
    background-color: #a5a5a5;
    background-image: linear-gradient(#f3f0f0 0%, #a5a5a5 10%, #dbd8d8 50%, #a5a5a5 90%, #827f7f 95%, #2c2c2c 100%);

    color: #3e0707;
    text-shadow: 0px 0px 1px #900404;

    width: 80%;
    max-height: 300px;

    border: ridge 4px #63404b;
    filter:drop-shadow(0px 0px 1px #000);
    padding-left:5%;
    padding-right:5%;

    position:absolute;
    left: 4%;
    bottom: 50%;
    overflow-y: auto;

    z-index: 6;

}

.sidebarLink {
    background-image: linear-gradient(#865f4d, #63404b);

    color: #d98056;
    text-decoration: none;
    text-shadow: 0px 0px 1px #d98056;
    
    width: 60%;

    border: outset #63404b;
    filter:drop-shadow(0px 0px 3px #343434);
    padding-left:5%;
    padding-right:5%;
    padding-top:2%;
    padding-bottom:2%;

    position:relative;
    display:block;
    left: 14%;
    top:50%;
    margin:5px;

    z-index: 7;
}

.sidebarLink:hover {
    background-image: linear-gradient(#63404b, #865f4d);

    color: #d98056;
    text-shadow: 0px 0px 3px #63404b;

    border: inset #63404b;
}

.sidebarLink:visited {
    color: #d98056;
}

#time {
    position: absolute;
    bottom: 2px;
    left:12px;

    width:70px;

    filter: drop-shadow(0px 0px 3px #6d6d6d);

    z-index: 8;
}

#messageboard {
    margin-bottom:10%;
    width:90%;
    height:100px;
}

#smallmessageboard {
    display:none;
}